# Extraction/calling csv file into python tool

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
dataFrame = pd.read_csv(r'C:\Users\drsac\OneDrive\Desktop\adwerk\LungCap.csv')
print(dataFrame)

     LungCap   Age  Height Smoke  Gender Caesarean
0      6.475   6.0    62.1    no    male        no
1     10.125  18.0    74.7   yes  female        no
2      9.550  16.0    69.7    no  female       yes
3     11.125  14.0    71.0    no    male        no
4      4.800   5.0    56.9    no    male        no
..       ...   ...     ...   ...     ...       ...
720    5.725   9.0    56.0    no  female        no
721    9.050  18.0    72.0   yes    male       yes
722    3.850  11.0    60.5   yes  female        no
723    9.825  15.0    64.9    no  female        no
724    7.100  10.0    67.7    no    male        no

[725 rows x 6 columns]

In [3]:
len(dataFrame)

725

In [4]:
dataFrame.shape

(725, 6)

In [5]:
average_height = dataFrame['Height'].mean()
print("Average Height:", round(average_height, 2))

Average Height: 64.84

In [6]:
median_Age = dataFrame['Age'].median()

print("Median Age is:", round(median_Age, 2))

Median Age is: 13.0

In [7]:
mode_Gender = dataFrame['Gender'].mode().iloc[0] # what is iloc[0]? does it see the mode from 0th row?

mode_Gender = dataFrame['Gender'].mode().iloc[0] 
print("Most frequent Gender is:", mode_Gender)
print("Most frequent Gender is:", mode_Gender)

Most frequent Gender is: male
Most frequent Gender is: male

In [8]:
gender_counts = dataFrame['Gender'].value_counts()
print(gender_counts)

Gender
male      366
female    357
Name: count, dtype: int64

In [9]:
dataFrame

     LungCap   Age  Height Smoke  Gender Caesarean
0      6.475   6.0    62.1    no    male        no
1     10.125  18.0    74.7   yes  female        no
2      9.550  16.0    69.7    no  female       yes
3     11.125  14.0    71.0    no    male        no
4      4.800   5.0    56.9    no    male        no
..       ...   ...     ...   ...     ...       ...
720    5.725   9.0    56.0    no  female        no
721    9.050  18.0    72.0   yes    male       yes
722    3.850  11.0    60.5   yes  female        no
723    9.825  15.0    64.9    no  female        no
724    7.100  10.0    67.7    no    male        no

[725 rows x 6 columns]

In [10]:
print("Standard deviation of LungCap is ", dataFrame['LungCap'].std()) 
print("Variance of LungCap is dataFrame", dataFrame['LungCap'].var())  
print("Standard deviation of LungCap is", dataFrame['Age'].std()) 
print("Variance of LungCap is dataFrame", dataFrame['Age'].var())

Standard deviation of LungCap is  2.667863071117998
Variance of LungCap is dataFrame 7.117493366235156
Standard deviation of LungCap is 4.0085642580976195
Variance of LungCap is dataFrame 16.068587411297717

In [11]:
height_var_by_gender = dataFrame.groupby('Gender')['Height'].mean()
print("mean of Height by Gender:\n", height_var_by_gender)

mean of Height by Gender:
 Gender
female    63.770423
male      65.844904
Name: Height, dtype: float64

In [12]:
height_std_by_gender = dataFrame.groupby('Gender')['Height'].std()
print("Standard Deviation of Height by Gender:\n", height_std_by_gender)

Standard Deviation of Height by Gender:
 Gender
female    7.048312
male      7.232618
Name: Height, dtype: float64

In [13]:
LungCap_by_gender = dataFrame.groupby('Gender')['LungCap'].mean()
print("Average of LungCap by Gender:\n", LungCap_by_gender)

Average of LungCap by Gender:
 Gender
female    7.406146
male      8.298489
Name: LungCap, dtype: float64

In [3]:
grouped = dataFrame.groupby('Gender')
print(grouped.get_group('female'))

NameError: name 'dataFrame' is not defined

In [ ]:
smoke_summary = dataFrame.groupby(['Gender', 'Smoke']).size()
print("Smoking distribution by gender:\n", smoke_summary) #diffenence between size() and value_count()

In [ ]:
smoke_percent = dataFrame.groupby(['Gender', 'Smoke']).size().groupby(level=0).apply(lambda x: 100 * x / x.sum())
print("Smoking % by gender:\n", smoke_percent) #here level=0 means 0th sereies like Gender and 1st series like Smoke
# and this X of lambda is also dicided by level

In [ ]:
dataFrame.info()

In [ ]:
dataFrame.describe()

## Example of finding missing values:

In [ ]:
dataFrame.isnull()

In [ ]:
dataFrame.isnull().sum()

## Removing Missing Values

In [ ]:
dataFrame.tail()

In [ ]:
dataFrame.head()

In [ ]:
dataFrame.describe()

In [ ]:
dataFrame['LungCap'].fillna(int(dataFrame['LungCap'].mean()), inplace=True)

In [ ]:
dataFrame.isnull().sum()

In [ ]:
dataFrame['Age'].fillna(int(dataFrame['Age'].mean()), inplace=True)

In [ ]:
dataFrame.isnull().sum()

In [ ]:
dataFrame['Height'].fillna(int(dataFrame['Height'].mean()), inplace=True)

In [ ]:
dataFrame.isnull().sum()

In [ ]:
dataFrame['Gender'] = dataFrame['Gender'].map({'male': 0,'female': 1, })

In [ ]:
dataFrame.head()

In [ ]:
dataFrame['Caesarean'] = dataFrame['Caesarean'].map({'no': 0,'yes': 1, })

In [ ]:
dataFrame.head()

In [ ]:
dataFrame['Smoke'] = dataFrame['Smoke'].map({'no': 0,'yes': 1, })

In [ ]:
dataFrame.head()

In [ ]:
dataFrame.describe()

In [ ]:
dataFrame.info()

In [ ]:
dataFrame.isnull().sum()

In [ ]:
dataFrame['Gender'].fillna(int(dataFrame['Gender'].mean()), inplace=True)
dataFrame['Caesarean'].fillna(int(dataFrame['Caesarean'].mean()), inplace=True)
dataFrame['Smoke'].fillna(int(dataFrame['Smoke'].mean()), inplace=True)

In [ ]:
dataFrame.isnull().sum()

In [ ]:
dataFrame.groupby('Smoke').Gender.value_counts()

In [ ]:
dataFrame.groupby('Caesarean').Gender.value_counts()

In [ ]:
df1 = dataFrame[dataFrame['Age']>12]
df1

In [41]:
df2 = dataFrame[dataFrame['Height']>64]
df2

     LungCap   Age  Height Smoke  Gender Caesarean
1     10.125  18.0    74.7   yes  female        no
2      9.550  16.0    69.7    no  female       yes
3     11.125  14.0    71.0    no    male        no
7      7.325  11.0    70.4    no    male        no
8      8.875  15.0    70.5    no    male        no
..       ...   ...     ...   ...     ...       ...
718    7.175  17.0    68.8    no    male       yes
719    7.325   9.0    66.3    no    male        no
721    9.050  18.0    72.0   yes    male       yes
723    9.825  15.0    64.9    no  female        no
724    7.100  10.0    67.7    no    male        no

[403 rows x 6 columns]

In [ ]:
df3 = dataFrame[dataFrame['LungCap']>8]
df3

In [43]:
len(df2)

403

In [ ]:
len(df3)

In [ ]:
len(df1)

In [ ]:
df1.head(5)

In [ ]:
df1.Gender.value_counts()

In [ ]:
df1.groupby('Gender').Smoke.value_counts() #size() and .value_counts()